<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="exampleModalLabel"
          style="color: rgba(0, 0, 0, 0.7);"
        >
          {{ currentUser.fname + " " + currentUser.lname }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2 id="H2_1">
          Contact Info
        </h2>
        <section class="SECTION_1">
          <i class="fab fa-linkedin" style="float:left; font-size: 2em;"></i>
          <header class="HEADER_6">{{ currentUser.fname }}'s Profile</header>
          <div class="DIV_7">
            <a href="/">linkedin.com/in/amir-mohammed-soliman-03ba411a1</a>
          </div>
        </section>
        <section class="SECTION_1">
          <i class="fas fa-phone" style="float:left; font-size: 2em;"></i>
          <header class="HEADER_6">
            Phone
          </header>
          <div class="DIV_7">{{ currentUser.phoneNumber }} (Mobile)</div>
        </section>
        <section class="SECTION_1">
          <i
            class="fas fa-map-marker-alt"
            style="float:left; font-size: 2em;"
          ></i>
          <header class="HEADER_6">
            Address
          </header>
          <div class="DIV_7">
            {{ currentUser.address }}
          </div>
        </section>
        <section class="SECTION_1">
          <i class="far fa-envelope" style="float:left; font-size: 2em;"></i>
          <header class="HEADER_6">
            Email
          </header>
          <div class="DIV_7">
            <a
              href="mailto:{{ currentUser.email }}"
              class="pv-contact-info__contact-link t-14 t-black t-normal"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ currentUser.email }}
            </a>
          </div>
        </section>
        <section class="SECTION_1">
          <i
            class="fas fa-birthday-cake"
            style="float:left; font-size: 2em;"
          ></i>
          <header class="HEADER_6">
            Birthday
          </header>
          <div class="DIV_7">
            {{
              currentUser.birthDate.toLocaleString("en-AU", {
                month: "long",
                day: "2-digit"
              })
            }}
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
