<div class="container">
  <div class="row">
    <div class="col-md-8 connections__manager">
      <div class="connections__list">
        <ul>
          <p *ngIf="result.length" class="search-title">
            Showing {{ result.length }} results for
            <span>"{{ searchVal }}"</span>
          </p>
          <p *ngIf="result.length === 0" class="search-title">
            No result to show for <span>"{{ searchVal }}"</span>
          </p>
          <li class="conn-card connections__card" *ngFor="let user of result">
            <div class="conn-card__info">
              <img
                [style.cursor]="'pointer'"
                [routerLink]="['/profile', user.username]"
                src="{{ user.imagUrl }}"
                class="rounded-circle"
                alt=""
              />
              <div class="conn-card__content">
                <h6
                  [style.cursor]="'pointer'"
                  [routerLink]="['/profile', user.username]"
                  class="conn-card__title"
                >
                  {{ user.fname }} {{ user.lname }}
                </h6>
                <p class="conn-card__disc">
                  {{ user.headline }}
                </p>
              </div>
            </div>
            <button class="btn btn-outline-primary">Message</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
