<div class="container">
  <div class="row">
    <div class="col-md-9 p-4 bg-white m-3 p-1">
      <div *ngFor="let user of result" class="card mb-9">
        <a href="/profile/{{ user.id }}" class="text-decoration-none">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img
                src="{{ user.imagUrl }}"
                class="card-img m-3"
                style="border-radius: 50%;max-width: 80px;"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="text-dark">{{ user.fname + " " + user.lname }}</h2>
                <p class="card-text">
                  {{ user.about }}
                </p>
              </div>
            </div>
            <div class="col-md-2 pt-5">
              <button type="button" class="btn btn-outline-info">
                Connect
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
