<div class="notifications">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="section">
          <h5>Nofications</h5>
          <ul class="section__list">
            <li
              class="sec-item section__item"
              *ngFor="let notif of notifications"
            >
              <div class="sec-item__content">
                <img src="{{ notif.image }}" alt="" class="sec-item__img" />
                <div class="sec-item__info">
                  <p class="sec-item__place m-0">
                    {{ notif.text }}
                  </p>
                </div>
              </div>
              <div class="sec-item__control">
                <i class="fa fa-ellipsis-h meta__control"></i>
                <span class="sec-item__duration">{{ notif.created }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
