.auth {
  height: 91vh;
}
.form-control {
  height: 40px;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.9);
}
.form-control:focus {
  border-color: #0073b1;
}
.form-control,
.btn {
  border-radius: 3px;
}
.signup-form {
  width: 500px;
  margin: 0 auto;
  padding: 32px 0;
  .switcher-btn {
    color: #0073b1;
    font-weight: 500;
    cursor: pointer;
  }
}
.signup-form h2 {
  color: rgba(0, 0, 0, 0.9);
  margin: 25px 0 15px;
  position: relative;
  text-align: center;
}
.signup-form h2:before,
.signup-form h2:after {
  content: "";
  height: 2px;
  width: 30%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%;
  z-index: 2;
}
.signup-form h2:before {
  left: 0;
}
.signup-form h2:after {
  right: 0;
}
.signup-form .hint-text {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
  text-align: center;
}
.signup-form form {
  color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f2f3f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  position: relative;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
  margin-top: 3px;
}
.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  min-width: 140px;
  outline: none !important;
}
.signup-form .row div:first-child {
  padding-right: 10px;
}
.signup-form .row div:last-child {
  padding-left: 10px;
}
.signup-form a {
  color: #0073b1;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: #0073b1;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}
.btn-primary {
  background-color: #006097;
}

.btn-primary:hover {
  background-color: #004b7c;
}

.img {
  max-width: 30%;
  margin: 0 15px 15px 15px;
  position: absolute;
  left: 32%;
  top: 2%;
  text-align: center;
}
