<div class="signup-form">
  <form action="" method="post">
    <img src="assets/LinkedIn-Logos/LI-Logo.png" class="img" alt="" />
    <h2>Sign in</h2>
    <p class="hint-text">
      Sign in to stay updated on your professional world.
    </p>

    <div class="form-group">
      <input
        type="email"
        class="form-control"
        name="email"
        placeholder="Email"
        required="required"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
        required="required"
      />
    </div>
    <div class="form-group">
      <label class="checkbox-inline"
        ><input type="checkbox" required="required" /> Remember me
      </label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Sign in
      </button>
    </div>
  </form>
  <div class="text-center">New to LinkedIn? <a href="#">Join now</a></div>
</div>
