$primaryColor: #016197;
$grayColor: #d5dde2;
$darkGray: #666;
$lightGray: #929292;
.connections {
  &__manager {
    background-color: #fff;
    margin-top: 30px;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 2px 1px 5px #d0d0d0;
  }
  &__taps {
    list-style: none;
    .tap {
      background-color: $grayColor;
      display: inline-block;
      padding: 5px 11px;
      border-radius: 35px;
      margin-right: 10px;
      color: $darkGray;
      font-weight: 600;
    }
    .active {
      background-color: $primaryColor;
      color: #fff;
    }
  }
  &__list {
    .conn-card {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;
      &:not(:last-child) {
        border-bottom: 1px solid $grayColor;
      }
      img {
        max-width: 80px;
      }
      &__info {
        display: flex;
        align-items: center;
      }
      &__content {
        margin-left: 10px;
        h6 {
          font-size: 16px;
        }
        p {
          color: $lightGray;
          font-size: 14px;
        }
      }
    }
  }
  .btn {
    margin-right: 5px;
  }
}
