.profile {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 220px;
  box-shadow: 3px 3px 5px 0px rgba(209, 201, 209, 1);
  position: relative;
  z-index: 0;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  &--Image {
    background-color: #016197;
    position: absolute;
    height: 58px;
    width: 100%;
    top: 0;
    left: 0;
  }
  &--info {
    border-bottom: 1px solid #dcdcdc;
    height: fit-content;
    padding-bottom: 0px;
    padding: 15px;
    width: 220px;
    text-align: center;
    z-index: 999;
    img {
      background-color: #fff;
      max-width: 80px;
      border-radius: 50%;
      border: 1px solid #e2e2e2;
      padding: 2px;
    }
  }
  &--content {
    padding: 15px;
    border-bottom: 1px solid #dcdcdc;
  }
  &--text {
    color: lightslategrey;
    padding-top: 1rem;
    &__h2 {
      font-size: 16px;
      color: black;
      &:hover {
        text-decoration: none;
      }
    }

    &__h3 {
      font-size: 12px;
      color: #666666;
      font-weight: 400;
    }
    &__P {
      text-decoration: none;
      color: #666666;
      font-weight: 400;
      font-size: 12px;
    }
    &__num {
      color: #00669e;
      font-size: 12px;
      font-weight: 700;
    }

    &--blacktext {
      color: black;
      font-weight: 700;
      font-size: 12px;
      i {
        color: #f3e21b;
        margin-right: 5px;
      }
    }
  }
  &--doubletext {
    display: flex;
    flex-direction: column;
  }
  &--premium {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 30px 0px 10px 0px;
    &:hover {
      text-decoration: underline;
    }
  }
  &--saved {
    cursor: pointer;
    text-align: left;
    &:hover {
      text-decoration: underline;
    }
  }
  &--numtext {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    padding-bottom: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.newsfeed {
  &__posts-list {
    list-style: none;
  }
  .post {
    background-color: #fff;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 2px 1px 5px #d0d0d0;
    &__header {
      padding: 15px 15px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 8px;
      .meta {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &__info {
          margin-left: 12px;
        }
        &__img {
          max-width: 60px;
          border-radius: 50%;
        }
        &__author {
          &-name {
            margin: 0;
          }
          &-about {
            font-size: 12px;
            color: #929292;
            margin: 0;
          }
        }
        &__date {
          font-size: 12px;
          color: #929292;
          margin: 0;
        }
      }
      i {
        color: #5f5f5f;
      }
    }
    .body {
      &__content {
        padding: 0 15px;
        font-size: 14px;
      }
      &__img {
        text-align: center;
        img {
          max-width: 100%;
          max-height: 440px;
        }
      }
    }
    &__reacts {
      cursor: pointer;
      user-select: none;
      padding: 15px;
      .reacts {
        &__counter {
          padding-bottom: 4px;
          border-bottom: 1px solid #dadada;
          i {
            padding-right: 5px;
          }
          span {
            font-size: 14px;
            font-weight: 600;
            color: #656565;
          }
          .like {
            color: #016197;
          }
          .love {
            color: #d60808;
          }
          .insightful {
            color: #d6c108;
          }
          .comment {
            color: #d60808;
            margin-left: 10px;
          }
        }
        &__action {
          color: #5f5f5f;
          margin-top: 10px;
          i {
            margin-right: 5px;
          }
          span {
            font-weight: 600;
            margin-right: 20px;
          }
        }
      }
    }
    &__comments {
      padding: 0 15px 15px;
      margin-top: 5px;
      img {
        max-width: 45px;
        border-radius: 50%;
        margin-right: 8px;
      }
      input {
        width: 100%;
        border-radius: 35px;
        border: 1px solid #c5c5c5;
        padding: 12px 18px;
        font-size: 12px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

// New post
* {
  box-sizing: border-box;
}
body {
  padding: 0 1em;
  font-family: sans-serif;
}

/* * Post widget * */

input[type="file"] {
  display: none;
}
ul {
  list-style-type: none;
}

.btn {
  padding: 0.5em 1em;

  background-color: transparent;
  color: #6b7270;

  border: none;
  cursor: pointer;
}

.widget-post {
  min-height: 100px;
  height: auto;

  border: 1px solid #eaeaea;
  border-radius: 6px;
  box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);

  background-color: #fff;

  margin: 30px auto;
  overflow: hidden;
}

.widget-post__header {
  padding: 1em;

  background-color: #eaeaea;
  color: #3f5563;
}
.widget-post__title {
  font-size: 18px;
  margin: 0;
}

.widget-post__content {
  width: 100%;
  height: 50%;
}
.widget-post__textarea {
  width: 100%;
  // height: 150px;
  padding: 0.5em 1.4em;
  border: none;
  resize: none;
}
.widget-post__textarea:focus {
  outline: none;
}

.widget-post__options {
  padding: 0.5em;
}
.widget-post___input {
  display: inline-block;

  width: 24%;
  padding: 0.2em 0.5em;

  border: 1px solid #eaeaea;
  border-radius: 1.5em;
}
.post-actions__label {
  cursor: pointer;
  margin: 0;
}

.widget-post__actions {
  width: 100%;
  padding: 0.5em;
}
.post--actions {
  position: relative;
  padding: 0.5em;

  background-color: #f5f5f5;
  color: #a2a6a7;
}
.post-actions__attachments {
  display: inline-block;
  width: 60%;
}
.attachments--btn {
  background-color: #eaeaea;
  color: #0073b1;
  border-radius: 12px;
}

.post-actions__widget {
  display: inline-block;
  width: 38%;
  text-align: right;
}
.post-actions__publish {
  width: 120px;

  background-color: #0073b1;
  color: #fff;

  border-radius: 1.5em;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.is--hidden {
  display: none;
}

/* * SR * */
.sr-only {
  width: 1px;
  height: 1px;

  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);

  overflow: hidden;
  white-space: nowrap;

  position: absolute;
  top: 0;
}

/* *  Placeholder contrast * */
::-webkit-input-placeholder {
  color: #666;
}
::-moz-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: #666;
}
:-moz-placeholder {
  color: #666;
}

.like {
  color: #016197;
}

.comment-writer {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 20px;
  margin-bottom: 5px;
  padding: 10px 15px;
  display: inline-block;
  width: 87%;
}
.comment-writer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .meta__author-about {
    font-size: 12px;
    color: #6f6f6f;
    margin-bottom: 5px;
  }
}
.comment-input {
  margin-bottom: 15px;
  display: flex;
}
.comment-form {
  width: 90%;
}
.comment-image {
  align-self: flex-start;
}
.meta__author-name {
  margin-bottom: 0;
}
.comment-body {
  margin: 0;
  font-size: 14px;
}
