<div class="newsfeed">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="profile mx-auto">
          <div class="profile--Image"></div>
          <div class="profile--info ">
            <img
              src="{{ activeUser.imagUrl }}"
              class="cursor-pointer"
              [routerLink]="['/profile', activeUser.username]"
            />
            <div class="profile--text">
              <h6
                class="profile--text__h2 cursor-pointer"
                [routerLink]="['/profile', activeUser.username]"
              >
                {{ activeUser.fname }} {{ activeUser.lname }}
              </h6>
              <div class="profile--text__h3">{{ activeUser.headline }}</div>
            </div>
          </div>
          <div class="profile--content">
            <div class=" profile--text">
              <div class="profile--numtext">
                <a class="profile--text__P" href="#"
                  >Who's viewed your profile</a
                >
                <a class="profile--text__num"> 36</a>
              </div>
              <div class="profile--numtext">
                <div class="profile--doubletext">
                  <a class="profile--text__P" href="#">Connections</a>
                  <div class="profile--text--blacktext">Grow your netwrok</div>
                </div>
                <a class="profile--text__num"> 419</a>
              </div>
              <div class="profile--premium">
                <a class="profile--text__P" href="#"
                  >Access exclusive tools & insights</a
                >
                <div class="profile--text--blacktext">
                  <i class="far fa-star icon icon--premium"></i>Reactive Premium
                  for free
                </div>
              </div>
            </div>
          </div>
          <div class="profile--info profile--saved">
            <a class="profile--text--blacktext">
              <i class="far fa-bookmark icon"></i> Saved items
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- New Post -->
        <div class="widget-post" aria-labelledby="post-header-title">
          <div class="widget-post__header">
            <h2 class="widget-post__title" id="post-header-title">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Write post
            </h2>
          </div>
          <form
            id="widget-form"
            class="widget-post__form"
            name="form"
            aria-label="post widget"
          >
            <div class="widget-post__content">
              <label for="post-content" class="sr-only"
                >share your moments</label
              >
              <textarea
                name="post"
                id="post-content"
                class="widget-post__textarea scroller"
                placeholder="What is in your mind?"
              ></textarea>
            </div>

            <div class="widget-post__actions post--actions">
              <div class="post-actions__attachments">
                <button
                  type="button"
                  class="btn post-actions__upload attachments--btn"
                >
                  <label for="upload-image" class="post-actions__label">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    Upload image
                  </label>
                </button>
                <input
                  type="file"
                  id="upload-image"
                  accept="image/*"
                  multiple
                />
              </div>
              <div class="post-actions__widget">
                <button class="btn post-actions__publish">Post</button>
              </div>
            </div>
          </form>
        </div>
        <!-- End of new post -->
        <div class="create-post"></div>
        <ul class="newsfeed__posts-list">
          <li class="post" *ngFor="let post of posts">
            <div class="post__header">
              <div class="meta post__meta">
                <img src="assets/salah.jpg" alt="" class="meta__img" />
                <div class="meta__info">
                  <h6 class="meta__author-name">
                    Ahmed Abbas
                  </h6>
                  <p class="meta__author-about">
                    {{ "Artist" }}
                  </p>
                  <span class="meta__date">{{ "3/10/2020" }}</span>
                </div>
              </div>
              <i class="fa fa-ellipsis-h meta__control"></i>
            </div>
            <div class="body post__body">
              <p class="body__content">
                {{ post.content }}
              </p>
              <div class="body__img">
                <img src="{{ post.imagUrl }}" alt="" />
              </div>
            </div>
            <div class="reacts post__reacts">
              <div class="reacts__counter">
                <i class="fa fa-thumbs-up like"></i>
                <i class="fa fa-heart love"></i>
                <i class="fa fa-lightbulb insightful"></i>
                <span>1.5K</span>
              </div>
              <div class="reacts__action">
                <i class="fa fa-thumbs-up like"></i>
                <span>Like</span>
                <i class="fa fa-comment comment"></i>
                <span>Comment</span>
                <i class="fa fa-share share"></i>
                <span>Share</span>
              </div>
            </div>
            <div class="post__comments">
              <img src="{{ activeUser.imagUrl }}" alt="" srcset="" />
              <input
                type="text"
                name="comment"
                id=""
                placeholder="Add a comment"
              />
            </div>
          </li>
        </ul>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>
