<div class="newsfeed">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="profile mx-auto">
          <div class="profile--Image"></div>
          <div class="profile--info ">
            <img src="assets/salah.jpg" alt="" srcset="" />
            <div class="profile--text ">
              <h6 class="profile--text__h2">Mohamed Salah</h6>
              <div class="profile--text__h3">Software Developer -.net</div>
            </div>
          </div>
          <div class="profile--content">
            <div class=" profile--text">
              <div class="profile--numtext">
                <a class="profile--text__P" href="#"
                  >Who's viewed your profile</a
                >
                <a class="profile--text__num"> 36</a>
              </div>
              <div class="profile--numtext">
                <div class="profile--doubletext">
                  <a class="profile--text__P" href="#">Connections</a>
                  <div class="profile--text--blacktext">Grow your netwrok</div>
                </div>
                <a class="profile--text__num"> 419</a>
              </div>
              <div class="profile--premium">
                <a class="profile--text__P" href="#"
                  >Access exclusive tools & insights</a
                >
                <div class="profile--text--blacktext">
                  <i class="far fa-star icon icon--premium"></i>Reactive Premium
                  for free
                </div>
              </div>
            </div>
          </div>
          <div class="profile--info profile--saved">
            <a class="profile--text--blacktext">
              <i class="far fa-bookmark icon"></i> Saved items
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="create-post"></div>
        <ul class="newsfeed__posts-list">
          <li class="post">
            <div class="post__header">
              <div class="meta post__meta">
                <img src="assets/salah.jpg" alt="" class="meta__img" />
                <h6 class="meta__author-name">Mohamed Salah</h6>
                <p class="meta__author-about">Web Developer</p>
                <span class="meta__date">3/10/2020</span>
              </div>
              <i class="fa fa-pen meta__control"></i>
            </div>
            <div class="body post__body">
              <p class="body__content">
                I'm the post body
              </p>
              <img src="assets/last-phot17.jpg" alt="" class="body__img" />
            </div>
            <div class="post__reacts"></div>
            <div class="comments"></div>
          </li>
          <li class="post">
            <div class="post__header">
              <div class="meta post__meta">
                <img src="assets/salah.jpg" alt="" class="meta__img" />
                <h6 class="meta__author-name">Mohamed Salah</h6>
                <p class="meta__author-about">Web Developer</p>
                <span class="meta__date">3/10/2020</span>
              </div>
              <i class="fa fa-pen meta__control"></i>
            </div>
            <div class="body post__body">
              <p class="body__content">
                I'm the post body
              </p>
              <img src="assets/last-phot17.jpg" alt="" class="body__img" />
            </div>
            <div class="post__reacts"></div>
            <div class="comments"></div>
          </li>
        </ul>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
