<!-- <div class="section__nav">
  <div class="container">
    <div class="nav row">
      <a href="#" class="col-2 navbar-brand">
        <img
          class="nav__logo d-inline-block align-top"
          src="assets/linkedIn-logo.png"
        />
      </a>

      <form class="col row nav__form">
        <div class="nav__dropdown dropdown">
          <button
            class="col nav__text nav__form__field nav__dropdown nav__btn btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Select
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="nav__text nav__form__field dropdown-item" href="#"
              >People</a
            >
            <a class="nav__text nav__form__field dropdown-item" href="#"
              >Jobs</a
            >
          </div>
        </div>
        <div class="col row">
          <input
            type="text"
            placeholder="First name"
            class="col nav__text nav__form__field nav__textbox form-control"
          />
          <input
            type="text"
            placeholder="Last name"
            class="col nav__text nav__form__field nav__textbox form-control"
          />
          <button class="col-1 nav__text nav__icon nav__form__field btn">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
      <div class="col-3 row nav__btns">
        <div class="col">
          <button class="nav__btn--join btn" type="button">Join now</button>
        </div>
        <button
          class="col nav__btn--sign btn btn-outline-primary"
          type="button"
        >
          Sign in
        </button>
      </div>
    </div>
  </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-blueblack custom-select-lg">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo-512.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse justify-content-between navbar-collapse"
      id="navbarSupportedContent"
    >
      <div class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          (keydown)="submitSearchVal($event)"
        />
      </div>
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="mr-3 nav-link" routerLink="/"
            ><i class="fas nav_icon-font fa-home" aria-hidden="true"> </i>
            <div class="card-header-pills font-weight-normal nav-link-text">
              Home
            </div>
            <span class="sr-only"></span
          ></a>
        </li>
        <li class="nav-item">
          <a class="mr-3 nav-link" routerLink="mynetwork">
            <i class="fas nav_icon-font fa-user-friends" aria-hidden="true">
            </i>
            <div class=" font-weight-normal nav-link-text">My Network</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="mr-3 nav-link" href="#">
            <i class="fas nav_icon-font fa-briefcase" aria-hidden="true"> </i>
            <div class=" font-weight-normal nav-link-text">Jobs</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="mr-3 nav-link" href="#">
            <i class="nav_icon-font fa fa-bell" aria-hidden="true"> </i>
            <div class=" font-weight-normal nav-link-text">Notification</div>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="assets/author-page.jpg"
              alt="..."
              class="navbar_img rounded-circle"
            />
            <div class=" font-weight-normal nav-link-text">Me</div>
          </a>
          <div
            class="dropdown-menu dropdown-menu-md-right dropdown-font p-3 "
            aria-labelledby="navbarDropdown"
            style="width: 345px;"
          >
            <div class="row">
              <div class="col-3" style="width: 0rem;">
                <img
                  src="{{ user.imagUrl }}"
                  class="card-img-top dropdown_navbar_img rounded-circle img-thumbnail"
                  alt="..."
                />
              </div>
              <div class="carousel-inner col" style="width: max-content;">
                <h6 class="card-title nav_icon-font">
                  {{ user.fname }} {{ user.lname }}
                </h6>
                <p class="card-text text-wrap">
                  {{ user.about }}
                </p>
                <a
                  [routerLink]="['profile', user.username]"
                  class="font-weight-bolder form-check text-primary"
                  >View Profile</a
                >
              </div>
            </div>

            <ul class="list-group border-top">
              <a href="#"
                ><li
                  class="border-0 form-check-label list-group list-group-item text-center text-muted"
                >
                  Sign Out
                </li></a
              >
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
