<div class="col-md-8">
  <div class="section">
    <h5>Experience</h5>
    <ul class="section__list">
      <li class="sec-item section__item">
        <div class="sec-item__content">
          <img src="assets/iti.png" alt="" class="sec-item__img" />
          <div class="sec-item__info">
            <h6 class="sec-item__title m-0">Trainee</h6>
            <p class="sec-item__place m-0">
              Information Technology Institute (ITI)
            </p>
            <span class="sec-item__duration">Oct 2019 - Present</span>
          </div>
        </div>
        <div class="sec-item__control">
          <i class="fa fa-plus"></i>
          <i class="fa fa-pen"></i>
        </div>
      </li>
      <li class="sec-item section__item">
        <div class="sec-item__content">
          <img src="assets/iti.png" alt="" class="sec-item__img" />
          <div class="sec-item__info">
            <h6 class="sec-item__title m-0">Trainee</h6>
            <p class="sec-item__place m-0">
              Information Technology Institute (ITI)
            </p>
            <span class="sec-item__duration">Oct 2019 - Present</span>
          </div>
        </div>
        <div class="sec-item__control">
          <i class="fa fa-plus"></i>
          <i class="fa fa-pen"></i>
        </div>
      </li>
      <li class="sec-item section__item">
        <div class="sec-item__content">
          <img src="assets/iti.png" alt="" class="sec-item__img" />
          <div class="sec-item__info">
            <h6 class="sec-item__title m-0">Trainee</h6>
            <p class="sec-item__place m-0">
              Information Technology Institute (ITI)
            </p>
            <span class="sec-item__duration">Oct 2019 - Present</span>
          </div>
        </div>
        <div class="sec-item__control">
          <i class="fa fa-plus"></i>
          <i class="fa fa-pen"></i>
        </div>
      </li>
      <li class="sec-item section__item">
        <div class="sec-item__content">
          <img src="assets/iti.png" alt="" class="sec-item__img" />
          <div class="sec-item__info">
            <h6 class="sec-item__title m-0">Trainee</h6>
            <p class="sec-item__place m-0">
              Information Technology Institute (ITI)
            </p>
            <span class="sec-item__duration">Oct 2019 - Present</span>
          </div>
        </div>
        <div class="sec-item__control">
          <i class="fa fa-plus"></i>
          <i class="fa fa-pen"></i>
        </div>
      </li>
    </ul>
  </div>
  <div class="section">
    <h5>Licenses & Certifications</h5>
    <ul class="section__list">
      <li class="sec-item section__item">
        <div class="sec-item__content">
          <img src="assets/ca.png" alt="" class="sec-item__img" />
          <div class="sec-item__info">
            <h6 class="sec-item__title m-0">Problem Solving</h6>
            <p class="sec-item__place m-0">
              Coach Academy
            </p>
            <span class="sec-item__duration"
              >Issued May 2016 . No Expiration Date</span
            >
          </div>
        </div>
        <div class="sec-item__control">
          <i class="fa fa-plus"></i>
          <i class="fa fa-pen"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
