<div class="mynetwork">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <ul class="mynetwork__pending" *ngIf="RecivedConnections.length">
          <p>Pending invitations</p>
          <li class="pending-item" *ngFor="let user of RecivedConnections">
            <div
              class="pending-item__info cursor-pointer"
              [routerLink]="['/profile', user.username]"
            >
              <img src="{{ user.imagUrl }}" alt="" srcset="" />
              <h6>{{ user.fname }} {{ user.lname }}</h6>
            </div>
            <div class="pending-item__control">
              <i
                class="far fa-times-circle decline-icon"
                (click)="declineInvitation(user.id)"
              ></i>
              <i
                class="far fa-check-circle accept-icon"
                (click)="acceptInvitation(user.id)"
              ></i>
            </div>
          </li>
        </ul>
        <div class="mynetwork__may-know">
          <p>Industry leaders in Egypt you may know</p>
          <span *ngIf="peopleMayKnow.length === 0">No usres to show</span>
          <div class="mynetwork__list">
            <div class="row">
              <div class="col-md-3" *ngFor="let person of peopleMayKnow">
                <div class="may-know-card">
                  <div
                    class="may-know-card__bg"
                    [ngStyle]="{
                      backgroundColor:
                        'rgba(' + 0 + ', ' + 118 + ', ' + 180 + ', 1)'
                    }"
                  ></div>
                  <img
                    src="{{ person.imagUrl }}"
                    alt=""
                    class="may-know-card__img rounded-circle cursor-pointer"
                    [routerLink]="['/profile', person.username]"
                  />
                  <h6
                    class="may-know-card__title cursor-pointer"
                    [routerLink]="['/profile', person.username]"
                  >
                    {{ person.fname }} {{ person.lname }}
                  </h6>
                  <p class="may-know-card__disc">
                    {{ person.about }}
                  </p>
                  <span class="may-know-card__mutual"
                    >35 Mutual Connections</span
                  >
                  <button
                    class="btn btn-outline-primary may-know-card__btn"
                    (click)="sendInvitation(person.id)"
                  >
                    Connect
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <p class="sidebar__title">Manage my network</p>
          <ul class="sidebar__list">
            <li
              class="sidebar__item cursor-pointer"
              [routerLink]="['connections']"
            >
              <span><i class="fa fa-user-friends"></i> Connections</span>
              <span>{{ connected.length }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
