/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f5f5f5;
}
.container {
  max-width: 1188px;
}
