<div
  class="modal fade"
  id="intro-edit"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit intro</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="my-body">
        <div class="bg-model"></div>
        <div class="modal-body">
          <img
            src="assets/last-phot15.jpg"
            alt="profile-image"
            class="image-model"
          />
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="fname">First Name *</label>
                <input type="text" class="form-control" id="fname" />
              </div>
              <div class="form-group col-md-6">
                <label for="lname">Last Name *</label>
                <input type="text" class="form-control" id="lname" />
              </div>
            </div>
            <div class="form-group">
              <label for="headline">Headline *</label>
              <textarea class="form-control" id="headline" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="current-position">Current Position</label>
              <input type="text" class="form-control" id="current-position" />
            </div>
            <div class="form-group">
              <label for="country">Country/Region *</label>
              <select class="custom-select" id="country">
                <option
                  *ngFor="let country of countries; index as i"
                  value="{{ i }}"
                  >{{ country.name }}</option
                >
              </select>
            </div>
            <div class="form-group">
              <label for="industry">Industry *</label>
              <select class="custom-select" id="industry">
                <option
                  *ngFor="let industry of industries; index as i"
                  value="{{ i }}"
                  >{{ industry.name }}</option
                >
              </select>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
